:root {
    --gap: 10px
}

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #f7f7f7;
}

main {
    margin: var(--gap);
    display: flex;
    flex-direction: column;
    row-gap: var(--gap);
}

a {
    text-decoration: none;
}

/* main div */

.hehe {
    display: flex;
    min-height: 45vh;
    gap: var(--gap);
    justify-content: center;
}

.hehe.l {
    display: flex;
    min-height: 60vh;
    gap: var(--gap);
}

.hehe.tri {
    flex: 1 0 0;
    flex-direction: column;
    justify-content: space-around;
}

.hehe>div {
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hehe>.hihi {
    flex: 1 0 0;
    background-color: #f7f7f7;
    box-shadow: none;
}

.hihi {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: var(--gap);
}

.hihi>div {
    align-items: center;
    flex: 1 0 0;
    display: flex;
    overflow: hidden;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.hoho {
    min-height: 15vh;
    background-color: aliceblue;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    overflow: hidden;
    position: relative;
}

/* cabeçalho */

.hoho.cabeca {
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    align-self: center;
    height: 70%;
}

.logo.m {
    display: none;
}

.cabeca.left {
    display: flex;
}

.cabeca.left div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.cabeca.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-end;
}

.cabeca.lang {
    display: flex;
    gap: 10px;
}

.cabeca.lang div {
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 26px;
    border: 2px solid black;
}

/* Barra de busca */

nav {
    display: flex;
    background: #312f2f;
    position: relative;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    overflow: hidden;
    gap: 50px;
}

nav ol {
    display: flex;
    list-style: none;
    margin: 0 auto;
    gap: 20px;
}

nav ol li {
    margin: 0 2px;
}

nav ol li a {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding: 5px 10px;
    transition: 0.3s ease-in;
}

nav ol li:hover a {
    background: #fff;
    color: #0a5071;
}

nav .search_box {
    display: flex;
    margin: auto 0;
    height: 35px;
    line-height: 35px;
    justify-content: center;
    align-items: center;
}

nav .search_box input {
    border: none;
    outline: none;
    background: #fff;
    height: 100%;
    padding: 0 0.625rem;
    font-size: 20px;
    width: 21.875rem;
    margin: 0;
}

nav .search_box span {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: #0a5071;
    font-size: 1.25rem;
    background: #fff;
    padding: 0 0.5rem;
    position: relative;
    cursor: pointer;
    z-index: 1;
}

nav .search_box span::after {
    height: 100%;
    width: 0%;
    content: '';
    background: #93bbcf;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

nav .search_box span:hover {
    color: #fff;
}

nav .search_box span:hover:after {
    width: 100%;
}

/* banner */

.hoho.nav {
    flex: 1 0;
}

.hoho.nav img {
    object-fit: cover;
    width: 100%;
}

/* Carrosel de imagens */

.slider {
    display: flex;
    height: 100%;
    position: relative;
}

.slider li {
    list-style: none;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider .fundo {
    opacity: 60%;
    background-color: black;
}

.slider li>div {
    align-self: flex-end;
    display: flex;
    width: 100%;
    height: 20%;
    position: absolute;
    flex-direction: column;
}

.slider li>div>span {
    font-weight: bold;
    padding: 10px 0px 0px 10px;
    align-self: flex-start;
    color: white;
}

.slider li>div>p {
    padding: 0px 0px 0px 10px;
    align-self: flex-start;
    color: white;
}

.slider input {
    display: none;
}

.slider label {
    position: absolute;
    background-color: #ffffff;
    cursor: pointer;
    display: block;
    border-radius: 10px;
    height: 10px;
    width: 10px;
    z-index: 20;
}

.slider li:nth-child(1) label {
    left: 6px;
    bottom: 1%;
}

.slider li:nth-child(2) label {
    left: 25px;
    bottom: 1%;
}

.slider li:nth-child(3) label {
    left: 44px;
    bottom: 1%;
}

.back {
    position: absolute;
    filter: blur(10px);
    min-width: 110%;
    min-height: 110%;
}

.slider img {
    align-self: center;
    max-height: 100%;
    max-width: 100%;
    visibility: hidden;
    object-fit: cover;
}

.slider li input:checked~img {
    visibility: visible;
    z-index: 10;
}

.slider li input:checked~div {
    visibility: visible;
    z-index: 10;
}

/* video and social */

.vs{
    max-width: 300px;
}

/* div player */

#player {
    height: 100%;
    width: 100%;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.video div {
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* socials */

.socials {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials div {
    gap: 5px;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.socials>span {
    height: 50px;
}

.socials span {
    color: black;
}

.socials>a:nth-child(2) i {
    color: #bc1888;
}

.socials>a:nth-child(3) i {
    color: #25D366;
}

.socials>a:nth-child(4) i {
    color: #4267B2;
}

.socials>a:nth-child(5) i {
    color: #0088cc;
}

/* id's */

#tete {
    flex: 3 0 0;
    overflow: hidden;
}

#tete {
    flex: 3 0 0;
}

#search-icon::before {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f002";
}

/* celular score */

.modelo_item {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 10px 10px;
}

.modelo_item img {
    object-fit: clip;
    width: 60px;
}

.modelo_item a {
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    display: block;
    font-size: 16px;
}

.modelo_item div {
    display: flex;
    gap: 5px;
}

.score {
    height: fit-content;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 5px;
    background-color: #005f7e;
    color: #f7f7f7;
}

.score strong {
    font-weight: 400;
    font-size: 28px;
}

.modelo_item .details .features {
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: center;
    color: #707070;
    list-style: none;
    background: #f7f7f7;
    padding: 10px 8px 10px 10px;
    box-shadow: 0 0 7px #ddd, 1px 1px 4px #dddddd;
}

/* Formulário */

.formulario {
    display: flex;
    justify-content: center;
    background-image: url('https://img.olhardigital.com.br/wp-content/uploads/2020/12/Apple_announce-iphone12pro_10132020.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.8;
}

.title {
    font-size: 24px;
    margin-top: 14px;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #fff;
}

.inputForm {
    position: relative;
    margin-bottom: 20px;
}

.inputForm i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

.inputForm input {
    width: 100%;
    padding: 10px 30px 10px 40px;
    font-size: 16px;
    box-sizing: border-box;
}

.inputForm input:focus {
    outline: thin dotted;
}

.btn {
    text-align: center;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background-color: #007Ba4;
    color: #fff;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #005f7e;
}

/* Top 10 */

.titulo {
    padding: 10px 0 10px 20px;
    font-size: 25px;
    font-weight: bold;
    color: #312f2f;
}

.txtTrend p {
    font-size: 20px;
    font-weight: 600;
}

.trend {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 250px;
    justify-items: center;
    background: #f0f8ff;
    width: 100%;
    gap: 15px;
    padding-bottom: 30px;
}

.trend .card:hover,
.trend .card img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
    z-index: 1;
}

.trend .card p,
.trend .card img {
    transition: all 0.3s ease-in-out;
    position: relative;
    z-index: 0;
}

.hoho .trend .card img {
    max-width: 100%;
}

.card {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.card img {
    height: 100%;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all 0.4s ease-in-out;
}

.card p {
    width: fit-content;
    font-size: 16px;
    padding: 10px;
    font-weight: 600;
    color: #fff;
    background: #312f2f;
}

.card span {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 0 20px 0;
}


/* Novidades */

.na {
    max-height: 400px ;
}

.notice {
    flex: 3 0 0;
    display: flex;
    flex-direction: column;
    overflow: auto;
    overflow-x: hidden;
    min-height: 380px;
    background: #f0f8ff;
    scrollbar-width: thin;
    scrollbar-color: gray;
}

.notice::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

.notice::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.notice::-webkit-scrollbar-thumb {
    background-color: gray;
}

.txt_notice {
    color: #000000;
    padding: 5px;
    font-size: 20px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    display: flex;
    padding: 4px;
    color: #181818;
}

.img_content:hover img {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.4s all;
}

.description_content {
    padding-left: 5px;
    padding-right: 4px;
}

.description_content:hover h3 {
    cursor: pointer;
    color: #005f7e;
    transition: 0.4s all;
}

.txt_add {
    display: flex;
    gap: 10px;
}

.line {
    border: 1px gray solid;
    margin: 5px;
}

/* Sobre */

.aboutUs {
    flex: 2 0 0;
    display: grid;
    flex-direction: column;
    padding: 0px 10px 10px 10px;
    background: #f0f8ff;
}

.aboutUs h1 {
    justify-self: flex-start;
}

.icons_aboutUs {
    display: flex;
    flex-direction: column;
}

#icons {
    display: flex;
    align-items: center;
    height: 40px;
}

#icons ::before {
    height: 40px;
}

/* propaganda*/

.ad {
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    max-width: 280px;
}

.ad div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #dddddd;
}

.ad label {
    font-size: 50px;
    font-weight: bold;
    color: #312f2f;
}

/* footer */

.footer {
    background-color: #312f2f;
    justify-content: center;
    align-items:center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer a {
    color: #979797;
    font-size: 12px;
}

.footer a:hover {
    color: #c7c7c7;
    font-size: 12px;
}

.footer span {
    color: #7c7c7c;
    font-weight: 600;
}

.feet {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.feet img{
    object-fit: contain;
    height: 30px;
}

.foot {
    display: flex;
    gap: 15px;
    flex-direction: row;
}

/* Perifericos */

.peripheral{
    display: flex;
    justify-content: space-between;
}

.peripheral img {
    padding: 5px;
    max-width:100%;
    height: 90%;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.peripheral img:hover {
    opacity: 0.8;
}

.descPeripheral {
    align-self: flex-start;
    padding: 10px;
}

.bestPrice {
    text-align: center;
    padding: 10px;
}

.bestPrice p {
    font-size: 10px;
}

/* monitor */

@media screen and (max-width: 1250px) {
    nav {
        display: block;
        padding: 0;
    }

    nav .icon {
        display: inline-block;
        padding: 15px 30px;
    }

    nav .search_box {
        width: 100%;
        display: inline-flex;
        justify-content: center;
        margin-bottom: 15px;
    }

    nav .search_box input {
        width: 90%;
    }

    nav ol {
        justify-content: center;
        align-items: center;
        padding: 15px;
    }
}

@media screen and (max-width: 1024px) {
    .trend {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 250px;
    }
}

/* celular */

@media screen and (max-width: 768px) {
    .peripheral img {
        height: auto;
        width: 90%;
    }

    .ad {
        max-width: none;
        min-height: 200px;
    }

    .hihi>div {
        flex-direction: column;
    }

    .slider li>div {
        width: 100%;
        height: 30%;
    }

    .na {
        max-height: none ;
    }

    .vs{
        max-width: 100%;
    }

    .logo.m {
        display: block;
    }

    .logo {
        display: none;
    }

    .hehe {
        min-height: auto;
        flex-direction: column;
    }

    .hehe.l {
        min-height: auto;
    }

    body {
        background: #ddd;
    }

    #tete {
        min-height: 360px;
    }

    .cabeca.left div {
        display: none;
    }

    .hehe.a {
        flex-direction: row;
    }

    .hehe.tri {
        flex-direction: row;
        flex: 1 0 0;
        justify-content: space-around;
    }

    .hihi {
        display: flex;
        flex-direction: row;
        gap: var(--gap);
        border: none;
    }

    .hoho.nav {
        height: 20vh;
    }

    .aboutUs {
        gap: 20px;
        padding: 0 10px 10px 10px;
    }

    nav ol {
        gap: 0px;
    }

}

/* celular */

@media screen and (max-width: 480px) {
    .slider li>div {
        width: 100%;
        height: 40%;
    }

    .hehe.tri {
        flex-direction: column;
        justify-content: space-around;
    }

    .trend {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
    }

    .txt_add span {
        display: none;
    }

    .txt_add p {
        display: none;
    }

    nav ol li a {
        font-size: 16px;
    }

}